gradio
torch
torchvision
transformers
langchain
langchain-community
langchain-huggingface
sentence-transformers
faiss-cpu
python-docx
docx2txt
opencv-python
timm
numpy
pandas
scikit-learn
matplotlib
Pillow
rank_bm25
